files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            echo $JAR_PATH

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH

            sudo mkdir /var/app/current/temp